<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/11d589870a.js" crossorigin="anonymous"></script>
    <title>Document</title>
    
</head>
<body>
<div class="container">
        <div class="author-details">
         
            <div class="author-name">
                <div class="inside-label">Author name<span class="important">*</span></div>
                <div class="input-field">
                    <%=userdetails.Name%>
                    <div class="border"></div>
                </div>
            </div>
            <div class="author-email">
                <div class="inside-label">Email<span class="important">*</span></div>
                <div class="input-field">
                    <%=userdetails.mail%>
                    <div class="border"></div>
                </div>
            </div>
            
        </div>
</div>
</body>